# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Go files
[*.go]
indent_style = tabs
indent_size = 4
max_line_length = 120

# Bazel files
[*.{bazel,bzl}]
indent_style = space
indent_size = 4
